body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#mainContainer>.container {
  width: calc(50% - 20px);
  /* 50% of the parent width minus some margin */
  margin: 10px;
}

.topic h2 {
  font-size: 20px;
  margin-bottom: 16px;
}

.title-row h2 {
  border-top: 1px solid #ccc;
  padding: 2px 0;
  margin: 0 0 15px 0;
}

.news-item {
  flex-direction: row-reverse;
  display: flex;
  margin-bottom: 20px;
  padding-left: 8px;
}

.news-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 16px;
}

.content {
  flex: 1;
}

.content > a {
  font-size: 16px;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.source {
  display: block;
  font-size: 14px;
  color: grey;
}

.related-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* gap: 16px; */
}


.related-links a {
  display: block;
  margin-top: 4px;
  font-size: 14px;
  color: green;
}

.description {
  font-size: 14px;
  color: #333;
  margin-top: 8px;
  margin-bottom: 8px;
}

.additional-article {
  margin-top: 10px;

}

.aa-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.aa-inner a {
  color: blue;
  /* text-decoration: none; */
  font-size: 14px;
  margin-right: 8px;
}

.aa-inner .source {
  font-size: 14px;
  color: #777;
}
.bg-color-1 {
  background-color: #E6E6FA; /* Lavender */
}

.bg-color-2 {
  background-color: #FFB6C1; /* Light Pink */
}

.bg-color-3 {
  background-color: #98FB98; /* Pale Green */
}

.bg-color-4 {
  background-color: #FFD700; /* Gold */
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed; /* Changed from absolute to fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}


@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}


@media (max-width: 768px) {
  
  #mainContainer>.container {
    width: 100%; /* make each container take up the full width of the mainContainer */
    margin: 5px; /* adjust as needed */
  }
  
  .news-item img {
    width: 80px; /* adjust as needed */
    height: 80px; /* adjust as needed */
  }
  
  .topic h2, .content > a, .title-row h2 {
    font-size: 18px; /* adjust as needed */
  }
  
  .source, .related-links a, .description, .aa-inner a, .aa-inner .source {
    font-size: 12px; /* adjust as needed */
  }
  
  .news-item, .aa-inner {
    padding: 4px; /* adjust as needed */
    margin-bottom: 10px; /* adjust as needed */
  }
  
  #mainContainer {
    flex-direction: column;
  }
  
}

/* Style the container */
#topicsContainer {
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

#topicsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /
}
@media (max-width: 600px) {
  /* For mobile screens */
  #topicsContainer {
    grid-template-columns: 1fr; /* Single column for small screens */
  }
}
/* Style each topic item */
.topic-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  width:auto;

  flex: 1 1 calc(33.333% - 20px);
  margin: 10px;
  box-sizing: border-box;

}
/* Adjust the width of the items for smaller screens */
@media (max-width: 767px) {
  .topic-item {
    flex: 1 1 calc(50% - 20px); /* On medium screens, make the items take up half of the container’s width */
  }
}

@media (max-width: 480px) {
  .topic-item {
    flex: 1 1 calc(100% - 20px); /* On small screens, make the items take up the full width of the container */
  }
}

/* Style the delete button */
.delete-button {
  cursor: pointer;
  background-color: #dc3545;
  color: #fff;
  border: none;
  width: auto; /* To override the full width */
  padding: 5px 20px; /* You can adjust padding to your preference */

  border-radius: 5px;
  font-size: 14px;
}

.delete-button:hover {
  background-color: #c82333;
}

/* Style the Add Topic Form */
#addTopicForm {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}

#newTopic {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 10px
}

/* Style the Add Topic Button */
#addTopicForm button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

#addTopicForm button:hover {
  background-color: #218838;
}

.text, .button {
  padding: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


.top {
	position: relative;
	height: 10px;
	background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: rgb(7, 7, 7);
  font-size: 2.5vw;
  font-weight: 300;
	text-transform: uppercase;
}

.texta {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#topicsTitle {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1.2em;
  background-color: #f8f9fa;
}

/* header {
  text-align: center;
  color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); 
} */