body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#mainContainer>.container {
  width: calc(50% - 20px);
  /* 50% of the parent width minus some margin */
  margin: 10px;
}

.topic h2 {
  font-size: 20px;
  margin-bottom: 16px;
}

.title-row h2 {
  border-top: 1px solid #ccc;
  padding: 2px 0;
  margin: 0 0 15px 0;
}

.news-item {
  flex-direction: row-reverse;
  display: flex;
  margin-bottom: 20px;
  padding-left: 8px;
}

.news-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 16px;
}

.content {
  flex: 1;
}

.content > a {
  font-size: 16px;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.source {
  display: block;
  font-size: 14px;
  color: grey;
}

.related-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* gap: 16px; */
}


.related-links a {
  display: block;
  margin-top: 4px;
  font-size: 14px;
  color: green;
}

.description {
  font-size: 14px;
  color: #333;
  margin-top: 8px;
  margin-bottom: 8px;
}

.additional-article {
  margin-top: 10px;

}

.aa-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.aa-inner a {
  color: blue;
  /* text-decoration: none; */
  font-size: 14px;
  margin-right: 8px;
}

.aa-inner .source {
  font-size: 14px;
  color: #777;
}
.bg-color-1 {
  background-color: #E6E6FA; /* Lavender */
}

.bg-color-2 {
  background-color: #FFB6C1; /* Light Pink */
}

.bg-color-3 {
  background-color: #98FB98; /* Pale Green */
}

.bg-color-4 {
  background-color: #FFD700; /* Gold */
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed; /* Changed from absolute to fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}


@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}
