<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Google News 2009 UI</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/scripts.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <div class='top'></div>
        <div class='texta'>
            <h1>smart-search</h1>
            
        </div>
    </header>
    <div id="topicsTitle">Your News Topics</div>
    <div class="topicsContainer" id="topicsContainer"></div>
    <form id="addTopicForm">
        <input type="text" id="newTopic" placeholder="New Topic">
        <button type="submit">Add Topic</button>
    </form>

    <div class="container two-column-layout" id="mainContainer"></div>
    </div>

    <script>



        document.addEventListener("DOMContentLoaded", async function () {
            const colorClasses = ['bg-color-1', 'bg-color-2', 'bg-color-3', 'bg-color-4'];
            let colorIndex = 0;

            const topics = JSON.parse(localStorage.getItem('topics'));

            for (const topic of topics) {
                const loadingColumn = createLoadingColumn();
                document.getElementById('mainContainer').appendChild(loadingColumn);

                try {
                    const data = await getArticles(topic);
                    const actualColumn = createColumn(data);
                    if (actualColumn instanceof Node) {
                        document.getElementById('mainContainer').replaceChild(actualColumn, loadingColumn);
                    } else {
                        console.error('Error: createColumn did not return a valid Node');
                        loadingColumn.remove(); // optionally remove the loading column
                    }
                } catch (error) {
                    console.error('There was an error: ', error);
                    loadingColumn.remove();
                }
            }

            async function getArticles(topic) {
                const response = await fetch(`/api/getArticles?topic=${topic}`);
                return response.json();
            }

            // This function creates a temporary column with a loading animation
            function createLoadingColumn() {
                const containerDiv = document.createElement('div');
                containerDiv.className = 'container';

                const columnDiv = document.createElement('div');
                columnDiv.className = 'column';

                // Add your preferred loading animation here
                const loaderDiv = document.createElement('div');
                loaderDiv.className = 'loader';
                columnDiv.appendChild(loaderDiv);

                containerDiv.appendChild(columnDiv);
                return containerDiv;
            }

            function createAdditionalArticles(parentDiv, additionalArticles) {
                const additionalDiv = document.createElement('div');
                additionalDiv.className = 'additional-article';
                additionalArticles.forEach((article) => {
                    const aaInnerDiv = document.createElement('div');
                    aaInnerDiv.className = 'aa-inner';

                    const aTitle = document.createElement('a');
                    aTitle.href = article.link;
                    aTitle.className = 'title';
                    aTitle.innerText = article.title;

                    const spanSource = document.createElement('span');
                    spanSource.className = 'source';
                    spanSource.innerText = article.source;

                    aaInnerDiv.appendChild(aTitle);
                    aaInnerDiv.appendChild(spanSource);
                    additionalDiv.appendChild(aaInnerDiv);
                });

                parentDiv.appendChild(additionalDiv);
            }

            function createRelatedLinks(parentDiv, relatedLinks) {
                const relatedLinksDiv = document.createElement('div');
                relatedLinksDiv.className = 'related-links';

                relatedLinks.forEach((related, index) => {
                    const aRelated = document.createElement('a');
                    aRelated.href = related.link;
                    aRelated.className = 'related-source';
                    aRelated.innerText = related.source;

                    // If it's not the last element, add a space after it
                    if (index < relatedLinks.length - 1) {
                        const spaceSpan = document.createElement('span');
                        spaceSpan.innerHTML = '&nbsp;-&nbsp;';
                        relatedLinksDiv.appendChild(aRelated);
                        relatedLinksDiv.appendChild(spaceSpan);
                    } else {
                        relatedLinksDiv.appendChild(aRelated);
                    }
                });

                parentDiv.appendChild(relatedLinksDiv);
            }


            function createElement(type, className, text) {
                const element = document.createElement(type);
                element.className = className;
                if (text) element.innerText = text;
                return element;
            }

            function createColumn(data) {
                const mainContainer = document.getElementById('mainContainer');
                if (!mainContainer) return;

                const containerDiv = createElement('div', 'container');
                const columnDiv = createElement('div', 'column');
                const titleRowDiv = createElement('div', 'title-row');

                const titleH2 = createElement('h2', '', data.topic);
                titleH2.classList.add(colorClasses[colorIndex]);
                colorIndex = (colorIndex + 1) % colorClasses.length;

                titleRowDiv.appendChild(titleH2);
                columnDiv.appendChild(titleRowDiv);

                data.articles.forEach((article) => {
                    const { image_link, link, title, source, date, description } = article.main_article;

                    const topicDiv = createElement('div', 'topic');
                    const newsItemDiv = createElement('div', 'news-item');
                    const img = createElement('img');
                    img.src = image_link;
                    img.alt = 'Image';
                    newsItemDiv.appendChild(img);

                    const contentDiv = createElement('div', 'content');
                    const aTitle = createElement('a', 'title', title);
                    aTitle.href = link;

                    const spanSource = createElement('span', 'source', source);
                    const spanDate = createElement('span', '', ` - ${date}`);
                    spanDate.style.color = 'black';
                    spanDate.style.fontWeight = 'bold';
                    spanSource.appendChild(spanDate);

                    const pDescription = createElement('p', 'description', description);

                    contentDiv.append(aTitle, spanSource, pDescription);
                    newsItemDiv.appendChild(contentDiv);
                    topicDiv.appendChild(newsItemDiv);
                    columnDiv.appendChild(topicDiv);

                    if (article.additional_articles && article.additional_articles.length > 0) {
                        createAdditionalArticles(contentDiv, article.additional_articles);
                    }

                    if (article.related_links && article.related_links.length > 0) {
                        createRelatedLinks(contentDiv, article.related_links);
                    }
                });

                containerDiv.appendChild(columnDiv);
                mainContainer.appendChild(containerDiv);
                return containerDiv;
            }


        });
    </script>